.add-chore-container {
    display: flex;
    height: 90vh;
}

/*.add-chore-image-container {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    align-items: center;*/
/*}*/
.form  {
    display: flex;
    height: inherit;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

#root > div > div > form > div.field.gap > div.ui.active.visible.fluid.selection.dropdown {
    color: inherit;
    background-color: inherit;
}
.add-chore-container .text {
    color: yellow !important;
    background-color: black;
}
.add-chore-image-container > input[type=file] {
    background-color: inherit !important;
    color: inherit !important;
}

.form .label {
    background-color: inherit;
    color: inherit;
}

.add-chore-container {
    display: flex;
    flex-flow: column;
}

.add-chore-image-container button {
    width: 200px;
}
.image-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-behavior: auto;
    width: 500px;
    height: 500px;
    max-height: 500px;
    max-width: 500px;
}

.image-container div {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.image-container div button {

}

.image-container img {
    width: 250px;
    height: 250px;
}

.image-container button {
    margin: 0;
}

.ui.dropdown .menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 100%;
    padding: 8px 0;
    margin: 0;
    /*background-color: white;*/
    border: 1px solid #d4d4d5;
    border-top: none;
    z-index: 1;
}

.ui.dropdown.visible .menu {
    display: block;
    position: relative;
}
