body {
  background-color: rgba(0,0,0,0.9);
  color: yellow;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.landingpage-container a {
    color: black;
}

a {
  color: yellow !important;
  text-decoration: none !important;
}

button {
  background-color: yellow !important;
  border: none;
  border-radius: 10px;
  color: black !important;
  font-size: 2em;
  outline: none;
  padding: 1em 2em;
  transition: all 0.2s;
}

button:hover {
  background-color: black !important;
  color: yellow !important;
}

button:disabled {
  background-color: gray;
  color: rgba(255, 255, 0, 0.5);
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-flow: column;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

